extends layout

block content	
	button(type='button' id ="removePic", class="btn btn-primary") Restart
	
	div.form-group
		div.input-group.mb-3
			div.custom-file
				input(type="file" class="custom-file-label" id="fileInput")
				label(class="custom-file-label" for="fileInput") Choose A Pic
			div.input-group-append
				button(type='button' id ="submit", class="btn btn-primary") Submit
	div.flex-row
		div#paleoImg
		div#table

			
		



	
	
	